* {
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	font-family: sans-serif;
	text-decoration: none;
	margin-bottom: 60px;
}
html {
	position: relative;
	min-height: 100%;
}
a {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.logo {
	display: block;
	background: url(../img/logo.png) no-repeat center;
	width: 211px;
	height: 49px;
	margin-top: 15px;
}
header p {
	/*	text-align: center;*/
	font-size: 20px;
	margin-top: 20px;
	display: inline-block;
}
.bottom-line {
	height: 85px;
	margin-bottom: 70px;
	border-bottom: 4px solid #000;
}
.graphs-wrap .graph{
	margin-top: 25px;
/*	border-bottom: 4px solid #000;
	border-left: 4px solid #000;*/
	width: 100%;
	height: 300px;
}
.graphs-wrap {
	box-shadow: 0 10px 40px rgba(0,0,0,0.5);
	margin-bottom: 45px;
}
.graphs-wrap p {
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	padding: 20px;
}
.graphs {
	margin-bottom: 55px;
}
.add-interest {
	float: right;
	display: inline-block;
	width: 200px;
	height: 30px;
	margin: 20px auto;
	border: 3px solid #000;
	padding: 3px 10px;
	text-decoration: none;
	text-align: center;
	color: #000;
	box-shadow: 5px 5px 0 rgba(0,0,0,10);
}
.send {
	display: block;
	float: none;
	height: 40px;
	margin-top: 40px;
}
.add-interest:hover {
	color: #fff;
	background: #000;
	text-decoration: none;
}
.btn {
	margin-bottom: 50px;
}
.select {
	float: left;
	width: 50%;
	margin: 20px 0 20px 0;

}
#user-block{
	margin: 30px;
	font-size: 16px;
	font-weight: bold;
}
#user-block input {
	width: 50%;
	padding: 5px 10px;
	border: solid 2px #adadad;
	border-radius: 3px;
	margin-left: 8px;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 30px;
}
footer {
	height: 60px;
	border-top: 3px solid #000;
	width: 100%;
	bottom: 0;
	position: absolute;
	background: #ccc;
	margin-top: 20px;
}
footer p {
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
}

#selects{
	width: 95%;
	margin: auto;
}

.sel-you-know p {
	text-align: center;
	font-size: 20px;
	margin-bottom: 40px;
}
.tech-name {
	border: solid 1px #adadad;
}
.tech-name > p {
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	margin-top: 15px;
}
.select > p {
	margin-top: 15px;
	text-align: center;
	font-size: 20px;
}
.select > select {
	display: block;
	width: 212px;
	margin: 15px auto;
	padding: 5px 10px;
	border: 2px solid #000;
	font-size: 20px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.select-wrap {
	margin-bottom: 40px;
}
.margin {
	padding-top: 27px;
}